iframe{
    width: 560px;
    height: 315px;

    display: none;
    margin: auto;
}

.Title{
    text-align: center;
}

.info{
    text-align: center;
}

        /*Botões*/

.menu-button{
    position: relative;
}

.btn{
    position: relative;
    display: block;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 430px;
}

.btn-audio{
    margin: 10px;
    border-radius: 7px;
    width: 200px;
    height: 40px;

    border: 0;
    background-color: #2e9dce;
}

.plaing{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 550px;
}